@page "/activation"

<section class="activation container">
   <div class="activation-block">
      <h4 class="activation-block__title">Ակտիվացման էջ *</h4>
      <p class="activation-block__text">To activate your card you need to enter the 16-digit number of your Card and
         your phone number</p>
      <div class="activation-block__list g-t-c-2 g-g-32 d-g a-i-c">
         <div class="activation-block__list--inputs">
            <div class="activation-block__list--inputs-main">
               <h6 class="activation-block__list--inputs-main__title">Enter 16-Digit Card #</h6>
               <input type="number" placeholder="#### #### #### ####">
            </div>
            <div class="activation-block__list--inputs-main activation-block__list--inputs-pin">
               <h6 class="activation-block__list--inputs-main__title">PIN կոդ</h6>
               <input type="password" placeholder="****">
               <p class="activation-block__list--inputs-main__text">PIN կոդը ուղարկված է նշված քարտապանի հեռախոսահամարին
               </p>
            </div>
            <button class="btn btn-background d-f a-i-c j-c-c">Ակտիվացնել</button>
         </div>
         <div class="activation-block__list--card d-none-sm">
            <img src="../assets/img/cards/card.svg" alt="activation-card" class="activation-block__list--card-img">
         </div>
      </div>
      <span class="activation-block__note">* Text about how and when you need to activate yout gift card</span>
   </div>
</section>