@page "/companyInfo"

@using NverCard.Public.Client.Shared.About_Menu

<section class="about account">
    <div class="container">
        <div class="crumb d-f a-i-c">
            <a href="#" class="crumb-logo d-f a-i-c j-c-c d-none-xs">
                <img class="crumb-logo__img"
                     src="../assets/img/favicon/logo-round-light.png">
            </a>
            <i class="crumb-arrow icon icon-arrow_right"></i>
            <a class="crumb-page d-none-xs" href="/products">Բոլոր քարտերը</a>
            <a class="crumb-page d-none d-block-xs" href="/">Գլխավոր</a>
        </div>
        <div class="about-block d-f">
            <AboutMenu IsCompanyInfo = "true" />           
            <div class="about-block__text">
                <h4 class="about-block__text--title">Ընկերության մասին</h4>
                <p class="about-block__text--info">
                    Nvercard.am-ը հանդիսանում է Հայաստանում առաջինն իր տեսակով ու
                    բնույթով, այն կօգնի Ձեզ խնայել ժամանակը և
                    առանց տանից դուրս գալու՝ օնլայն տարբերակով, ձեռք բերել նվեր քարտ՝ տալով սեփական ընտրության
                    հնարավորություն նվեր ստացողին: Այն նաև Ձեզ է առաջարկում իր բացառիկ «Ունիվերսալ» քարտը, որը թույլ է տալիս
                    մեկ քարտի միջոցով դառնալ միաժամանակ մեկ և ավելի քարտերի քարտապան: Առաջարկվող քարտերի վավերականության
                    ժամկետը կախված է քարտատեսակից, սակայն այն չի կարող լինել ոչ պակաս քան 6 ամիսը: nvercard.am-ը
                    համագործակցելով բազմաթիվ ընկերությունների հետ, քարտապանին տալիս է նվերի մեծ ընտրության հնարավորություն:
                </p>               
            </div>
        </div>
    </div>
</section>

